@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --white: #fff;
  --black: #000;
  --primary: #9c59df;
  --light-primary: #9c59df9e;

  color: rgba(0, 0, 0, 0.87);
  color-scheme: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  transition: all 0.5s ease;
  scroll-behavior: smooth !important;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  color: var(--white);
  overflow-x: hidden !important;
  /* scroll-padding-top: 20rem !important; */
}

.smooth {
  transition: all 0.5s ease;
}

.border-outline-none {
  border: none !important;
  outline: none !important;
}

/* a:hover {
  color: var(--primary);
} */

.lead {
  line-height: 1.2 !important;
}

/* ? ========= Root Custom Scroolbar // custom scrollbar ================= */

.custom_scrollBar::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0.3rem !important;
  cursor: pointer !important;
  -webkit-appearance: none !important;
}

.custom_scrollBar::-webkit-scrollbar-track {
  background: var(--primary) !important;
}

body::-webkit-scrollbar-track {
  background: var(--white) !important;
}

.custom_scrollBar::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  cursor: pointer !important;
  border-radius: 4px !important;
  background: var(--primary);
  transition: all 0.5s ease !important;
}

.custom_scrollBar::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: var(--primary) !important;
}
.leaflet-container {
  height: 100%;
}

.floating-label {
  transition: all 0.2s ease-in-out;
  transform-origin: 0% 100%;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
}

.input-wrapper:focus-within .floating-label,
.input-wrapper input:not(:placeholder-shown) + .floating-label {
  font-size: 1rem;
  transform: translate(10px, -110%) scale(0.75);
  top: 1.5rem;
  left: 0;
}

@layer utilities {
  /* =========== Custom Utilities =========== */

  .keepInTouch-blur-top {
    @apply before:absolute before:-top-10 before:left-0 before:bottom-0 before:right-0 before:blur-xl before:w-full before:h-20 before:bg-white;
  }

  .keepInTouch-bg-blur {
    @apply absolute top-0 left-0 bottom-0 right-0 opacity-80 bg-white h-full blur-lg w-full;
  }

  .overlay {
    @apply before:absolute before:z-40 cursor-pointer before:top-0 before:left-0 before:bottom-0 before:right-0 before:opacity-0 before:bg-white before:h-full before:w-full;
  }
}

/* =========== Ant Design Custom Styles =========== */

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.ant-checkbox:hover {
  border-color: var(--primary) !important;
}

.ant-select-selector {
  border: none !important;
  outline: none !important;

  &:hover {
    border: none !important;
    outline: none !important;
  }

  &:focus-within {
    border: none !important;
    outline: none !important;
  }
}

.listing-details-tabs .ant-tabs-tab {
  padding: 0 !important;
  margin-left: 1rem !important;
  padding-right: 1.6rem !important;
}

.listing-details-tabs .ant-tabs-tab-active > div {
  color: var(--primary) !important;
}

.listing-details-tabs .ant-tabs-ink-bar {
  background-color: var(--primary) !important;
}

.listing-details-tabs .ant-tabs-nav {
  min-width: 600 !important;
}

/* =========== Custom Radio =========== */

.ant-radio-checked .ant-radio-inner {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

/* =========== Custom Dropdown =========== */

.ant-dropdown-menu .ant-dropdown-menu-item-selected {
  color: var(--white) !important;
  background: var(--light-primary) !important;
}

.ant-menu-item-selected {
  color: var(--white) !important;
  background-color: var(--light-primary) !important;
}

.ant-menu-root.ant-menu-inline {
  border-inline-end: none !important;
}

/* =========== Custom Spin Color =========== */

.ant-spin-dot-item {
  background-color: var(--light-primary) !important;
}

/* =========== Custom Phone Number Input =========== */

.phoneInput input:focus-visible {
  border: none !important;
  outline: none !important;
  color: var(--black) !important;
}

.phoneInput input:placeholder {
  color: var(--black) !important;
}

.react-phone-number-input__country-select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 100px;
  background-color: #ff0000;
  cursor: pointer;
}

.react-phone-number-input__country-select option {
  padding: 8px;
}

.react-phone-number-input__country-select:after {
  content: "\25BC";
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.ant-btn-primary {
  background: var(--primary) !important;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}

/* =========== Custom Date Picker =========== */

.ant-picker-active-bar {
  background: var(--primary) !important;
}

/* .ant-picker-cell:hover {
  background: var(--primary) !important;
} */

/* =========== Custom Select =========== */

.ant-select-item-option-selected {
  color: var(--white) !important;
  background: var(--primary) !important;
}

/* =========== Custom Space Box =========== */

.event-information-space-box > .ant-space-item:first-child {
  width: 100% !important;
}

.rc-virtual-list-holder-inner {
  gap: 0.2rem !important;
}
